*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
public/assets/css-apply-static-images/assets/logos/Logo_CSS_Apply_Email.png -filter -diff -merge -text
public/assets/css-apply-static-images/assets/logos/Logo_CSS_Watermark.png -filter -diff -merge -text
